<div id="<%= dom_id actor %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">About me:</strong>
    <%= actor.about_me %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= actor.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= actor.city %>
  </p>

</div>
